button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-file__button {
    color: $color-text-light-01;
    font-size: 16px;
    font-weight: bold;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    padding: 12px;
    @include border-radius($radius-m);
    transition: all 0.3s;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &:disabled,
    .disabled {
        background: #aaa;
        outline: none;
        cursor: not-allowed !important;
    }

    &.primary-button {
        background-color: $color-primary;
    }

    &.secondary-button {
        color: #8E703C;
        border: 1px solid $color-secondary;
        background-color: $color-secondary;
    }

    &.line-button {
        border: 1px solid $bg-hr;
        background-color: transparent;

        &:hover {
            color: $bg-black;
            background-color: $bg-white;
        }
    }

}

.inline-btns {

    button,
    .button {
        margin-right: 8px;
    }
}

input[type="submit"].search-submit:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*--------------------------------------------------------------
# responsive - Tablet
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {}


/*--------------------------------------------------------------
# responsive - Mobile
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {

    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .wp-block-file__button {
        font-size: 15px;
        padding: 8px;
    }
}