$bg-white: #fff;
$bg-black: #1C1E20;
$bg-darkgray-01: #393d41;
$bg-darkgray-02: #5d6369;
$bg-lightgray-01: #F9FAFB;
$bg-lightgray-02: #EDF1F6;
$bg-hr: #3e4246;
$bg-hr-light: #F2EAE3;
$bg-button: #e6e6e6;
$bg-pre: #EDF1F6;
$bg-ins: #fff9c0;

$color-primary: #F06D49;
$color-secondary: #F2D4A0;
$color-text-light-01: #fff;
$color-text-light-02: #E8E4DF;
$color-text-light-03: #BCBAB6;
$color-text-primary: #111;
$color-text-secondary: #393A3D;
$color-text-screen: #21759b;
$color-text-input: #393A3D;
$color-text-input-focus: #111;
$color-link: #F06D49;
$color-link-visited: purple;
$color-link-hover: midnightblue;

$color-border-input: #ccc;
$color-border-abbr: #666;